@import "../../styles/variables";
.card {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // width: 21rem;
    height: 20rem;
    background-color: $color-primary-dark;
    border-radius: 1rem;
    margin: 2rem 0 0 0;
    box-shadow: 0 0.2rem 0.9rem 0.2rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    &:hover {
      transform: translateY(-1rem) scale(1.001);
    }
  }

  &__btn {
    outline: none;
    display: inline-block;
    text-decoration: none;
    
    border: none;
    padding: 1rem 2rem;
    color: $color-tertiary-dark;
    border-radius: 1.5rem 1.5rem 1.5rem 0;
    box-shadow: 0 0.2rem 0.9rem 0.2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $color-tertiary;
      background-color: $color-secondary;
    }
  }

  &__icon {
    font-size: 2rem;
  }
}

.info{
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__name{
    font-size: 1.5rem;
  }
  &__email{
    font-size: 1.5rem;
  }
}
